.menu-admin {
    background-color: #000;
}
.menu-admin-items {
    display: flex;
    flex-direction: column;
}
.menu-admin-item {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-admin-item:hover {
    background-color: rgb(71, 0, 0);
}
.menu-admin-link {
    text-decoration: none;
    color: #fff;
}