.client-card { 
    width: calc(100% - 20px);
    margin:10px;
    display: flex;
}
.client-card:nth-child(odd) {
    background-color: aliceblue;
}
.client-card:nth-child(even) {
    background-color: rgb(200, 200, 200);
}
.client-id {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed #000;
    width: 60px;
}
.client-infos {
    height: 100%;
    width: 100%;
    display: flex;

}
.info-client {
    height: 100%;
}
.group-infos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.info-client-title {
    display: flex;
    justify-content: center;
    border-top: 2px dashed #000;
    border-right: 2px dashed #000;
}
.info-client {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px dashed #000;
    border-right: 2px dashed #000;
    border-bottom: 2px dashed #000;
}

