.client {
    margin-left: 5px;
    margin-right: 10px;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display:flex;
    flex-direction: column;
}
.client-container {
    height: 100%;
    margin:20px;

    display: flex;
    flex-direction: column;
}
.form-group {
    height: 100%;
    display:flex;
    flex-direction: column;
}
.form-group-btn {
    display: flex;
    justify-content: space-evenly;
}
